.mypage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    height: 100vh;
}

.mypage-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #222;
}

.mypage-buttons {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
    gap: 10px;
}

.mypage-buttons button {
    padding: 12px;
    font-size: 16px;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.mypage-buttons button:hover {
    background-color: #444;
}
